.element-wrapper {
    padding-top: 22px;
}

.group-title {
    font-size: 16px;
    margin-bottom: 0;
}

.person-title {
    font-size: 16px;
    margin-bottom: 0;
    padding: 0;
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message-text {
    font-size: 16px;
}

.date-text {
    color: grey;
    font-size: 13px;
    margin-left: 10px;
}

.date-wrapper {
    padding: 0;
}

.answers-number {
    font-size: 13px;
    color: grey;

}

.add-answer {
    font-size: 13px;
    color: grey;

}