
.ElementList-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid gainsboro;
}

.group-title {
    font-size: 16px;
    margin-bottom: 0;
}

.person-title {
    font-size: 16px;
    margin-bottom: 0;
    padding: 0;
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.message-text {
    font-size: 16px;
    margin: 0;
}

.date-text {
    color: grey;
    font-size: 13px;
    margin-left: 10px;
}

.date-wrapper {
    padding: 0;
}

.answers-number {
    font-size: 13px;
    color: grey;

}

.add-answer {
    font-size: 13px;
    color: grey;
}

.ElementList_image-container {
    padding: 0;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.ElementList_text-container {
    padding: 0;
    margin-bottom: 10px;
}
