.HeaderThread__container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 30px 30px;
  border-bottom: 1px solid #989898; 
}

.HeaderThread__btn {
  background-color: #ffffff;
  border: 0px;
}

.HeaderThread__btn:hover {
  background-color: #ffffff;
  border: 0px;
}

.HeaderThread__arrow {
  font-size: 22px;
  color: #989898;
}

.HeaderThread__arrow:hover {
  color: #006ef5;
}

.HeaderThread__logo {
  color: #006ef5;
  font-weight: 600;
}