.HeaderThread__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px 30px;
  border-bottom: 1px solid $color-terciary; 
}

.HeaderThread__logo {
  color: $color-button;
  font-weight: $weigth-bold;
}


@media (min-width: 1024px) {
  .HeaderThread__container{

    width: 1000px;
    margin: auto;

  }
}