//COLORES

//Colores página

$color-primary: #FF66FF; rgb 255 102 255; //pink
$color-secondary: #286DF3; rgb 40 109 243;//blue
$color-terceary: 
rgb 40 109 243; //Black letters
$color-light:
$color-medium:


//FUENTES

//Familia

$font-primary:
$font-secondary::after
