//COLORES

//Colores página

$color-primary: #FF66FF; rgb 255 102 255; //pink
$color-secondary: #286DF3; rgb 40 109 243;//blue
$color-terceary: 
$color-primary: rgb(255, 255, 255); //white
$color-secondary: rgb(254, 254, 254); //grey-light
$color-secondary-medium: rgb(107, 134, 159); //grey-medium
$color-terciary:

$color-button: rgb(40, 109, 243); //blue
$color-button-null: rgb(239, 242, 245); //grey
$color-icon-ilustrator:rgb(255, 102, 255); //pink
rgb 40 109 243; //Black letters
$color-light:
$color-medium:


//FUENTES

//Familia

$font-primary:
$font-secondary::after
$font-primary: 'Avenir-Black'
$font-secondary:
