.wrapper-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-group{
    height: 100%;
    background-image: linear-gradient(to top, $color-light-gradient 0%, $color-light 100%);
}

.wrapper-nameGroup{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid $color-terciary;
}

.img-group{
    width: 40px; 
    height: 40px;
}

.nameGroup{
    padding-left: 30px;
}

.numberGroup{
    align-self: stretch;
    font-size: $size-s;
    width: 100%;
    padding-left: 30px;
}

.wrapper-welist{
    margin-top: 30px;
    margin-bottom: 100px;
}

.wrapper-input-send{
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 16px;
    background-color: $color-light;
}

@media (min-width: 1024px) {
   .wrapper-welist {
      width: 1000px;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 100px;
   }

   .wrapper-menu{
    width: 1000px;
    margin: auto;
   }

    .wrapper-nameGroup{
        width: 1000px;
        margin: auto;
    }
}