.wrapper-thread{
    height: 100vh;
    background-image: linear-gradient(to top,$color-light-gradient 0%, $color-light 100%);
}

@media (min-width: 1024px){

    .wrapper--list-thread{
      width: 1000px;
      margin: auto;
    }
}