.footer-login{

    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 16px;
    background-color: $color-light;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-footer{
    color: $color-button;
    margin-bottom: 0;
}


@media (max-width: 425px) {

    .footer-login{
        height: 35px;
    }
    .text-footer {
        font-size: 13px;
    }
    
}