.footer-login{

    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 16px;
    background-color: white;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-footer{
    color:#006ef5;
    margin-bottom: 0;
}