.ElementList-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid gainsboro; }

.group-title {
  font-size: 16px;
  margin-bottom: 0; }

.person-title {
  font-size: 16px;
  margin-bottom: 0;
  padding: 0; }

.flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.message-text {
  font-size: 16px;
  margin: 0;
  word-break: break-all; }

.date-text {
  color: grey;
  font-size: 13px;
  margin-left: 10px; }

.date-wrapper {
  padding: 0; }

.answers-number {
  font-size: 13px;
  color: grey; }

.add-answer {
  font-size: 13px;
  color: grey; }

.ElementList_image-container {
  padding: 0;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px; }

.ElementList_text-container {
  padding: 0;
  margin-bottom: 10px; }

.WeList-wrapper {
  margin: 20px; }

.list-container {
  list-style: none; }

@media (min-width: 1024px) {
  .WeList-wrapper {
    width: 1000px;
    margin: 20px auto; } }

.error-hidden {
  display: none; }

.alert-danger {
  font-size: 15px;
  margin-bottom: 0; }

@media (max-width: 375px) {
  .alert-danger {
    font-size: 13px; } }

.Header__title {
  color: #006ef5;
  font-weight: 600;
  text-align: center;
  padding: 30px 30px; }

.footer-login {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 16px;
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }

.text-footer {
  color: #006ef5;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center; }

@media (max-width: 425px) {
  .footer-login {
    height: 35px; }
  .text-footer {
    font-size: 13px; } }

.logo-adalab {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  width: 80px;
  height: 80px; }

.heart {
  animation: beat .50s infinite alternate;
  transform-origin: center; }

/* Heart beat animation */
@keyframes beat {
  to {
    transform: scale(1.4); } }

.HeaderThread__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px 30px;
  border-bottom: 1px solid #6b869f;
  margin-bottom: 30px; }

.HeaderThread__logo {
  color: #286df3;
  font-weight: 600; }

@media (min-width: 1024px) {
  .HeaderThread__container {
    width: 1000px;
    margin: auto;
    margin-bottom: 30px; } }

.container--form-landing {
  margin-top: 40px; }

.form--style {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between; }

.form--group {
  padding: 0 20px 0 20px; }

.input--login-style {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding: 6px;
  background-color: transparent;
  border-bottom: 1px solid #6c757d; }

.btn--login {
  margin: 20px auto auto;
  width: 60px;
  border-radius: 35px;
  height: 60px;
  background-color: #006ef5; }

.icon--psw {
  position: absolute;
  top: 16px;
  right: 0;
  color: #ced4da; }

.Button-option-link {
  margin-left: auto;
  margin-right: auto; }

.Button-option {
  background-color: transparent;
  border: 0;
  color: #286df3;
  font-size: 34px;
  padding: 0; }

.Button-option:hover {
  background-color: white;
  color: #286df3; }

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: white;
  color: #286df3;
  border-color: white; }

.Button-option:focus {
  box-shadow: none; }

.button-group .Button-option::before {
  display: none; }

.dropdown-container {
  display: flex;
  justify-content: flex-end;
  padding: 2px 20px;
  align-items: center; }

@media (min-width: 1024px) {
  .dropdown-container {
    width: 1000px;
    margin: auto; } }

.wrapper-login {
  height: 100vh;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); }

.main--login {
  padding: 25px; }

@media (min-width: 1024px) {
  .container--text-login {
    margin-top: 100px; }
  .container--form-landing {
    margin-top: 100px; } }

@media (max-width: 375px) {
  .form--group {
    padding: 0; } }

.container--text-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap; }

.text-wrapp {
  align-self: center;
  width: 300px;
  margin: 0;
  padding: 0; }

.title--login {
  overflow: hidden;
  border-right: .10em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; }

.subtitle--landing {
  font-size: 20px; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: black; } }

.wrapper-menu {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.wrapper-group {
  height: 100%;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); }

.wrapper-nameGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #687682; }

.img-group {
  width: 40px;
  height: 40px; }

.nameGroup {
  padding-left: 30px; }

.numberGroup {
  align-self: stretch;
  font-size: 14px;
  width: 100%;
  padding-left: 30px; }

.wrapper-welist {
  margin-top: 30px;
  margin-bottom: 100px; }

.wrapper-input-send {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 16px;
  background-color: white; }

@media (min-width: 1024px) {
  .wrapper-welist {
    width: 1000px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px; }
  .wrapper-menu {
    width: 1000px;
    margin: auto; }
  .wrapper-nameGroup {
    width: 1000px;
    margin: auto; } }

.main--welist {
  margin-top: 50px; }

@media (min-width: 1024px) {
  .main--welist {
    width: 1000px;
    margin: auto; } }

.list--welist {
  margin: 0;
  padding: 0; }

.groupsli {
  list-style-type: none; }

.Input__form {
  display: flex; }

.Input__text {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid  #989898;
  border-radius: 0; }

.Input__btn {
  width: 100px;
  height: 40px;
  background-color: #006ef5;
  border-radius: 30px; }

.wrapper-thread {
  height: 100vh;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); }

@media (min-width: 1024px) {
  .wrapper--list-thread {
    width: 1000px;
    margin: auto; } }

.HeaderThread__arrow {
  color: #0c2c5d; }

.HeaderThread__btn {
  background-color: transparent;
  border: 0px; }

.HeaderThread__btn:hover {
  background-color: transparent;
  border: 0px; }

.HeaderThread__arrow {
  font-size: 22px;
  color: #6b869f; }

.HeaderThread__arrow:hover {
  color: #286df3; }

body, #root {
  height: 100vh; }

body {
  font-family: 'Montserrat', sans-serif; }

.container-fluid {
  padding: 0;
  margin: 0;
  height: 100vh; }

.header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  top: 0; }
