.ElementList-wrapper {
  padding-top: 22px; }

.group-title {
  font-size: 16px;
  margin-bottom: 0; }

.person-title {
  font-size: 16px;
  margin-bottom: 0;
  padding: 0; }

.flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.message-text {
  font-size: 16px; }

.date-text {
  color: grey;
  font-size: 13px;
  margin-left: 10px; }

.date-wrapper {
  padding: 0; }

.answers-number {
  font-size: 13px;
  color: grey; }

.add-answer {
  font-size: 13px;
  color: grey; }

.Header__title {
  color: #006ef5;
  font-weight: 600;
  text-align: center;
  padding: 30px 30px; }

.HeaderThread__container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 30px 30px;
  border-bottom: 1px solid #989898; }

.HeaderThread__btn {
  background-color: #ffffff;
  border: 0px; }

.HeaderThread__btn:hover {
  background-color: #ffffff;
  border: 0px; }

.HeaderThread__arrow {
  font-size: 22px;
  color: #989898; }

.HeaderThread__arrow:hover {
  color: #006ef5; }

.HeaderThread__logo {
  color: #006ef5;
  font-weight: 600; }

.form--style {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between; }

.form--group {
  flex: 1; }

.form-control.input--login-style {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding: 0; }

.btn.btn--login {
  margin: auto auto 75px;
  width: 70px;
  border-radius: 35px;
  height: 70px;
  background-color: #006ef5; }

.icon--psw {
  position: absolute;
  top: 16px;
  right: 0;
  color: #ced4da; }

.Input__form {
  display: flex; }

.Input__text {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid  #989898; }

.Input__btn {
  width: 100px;
  height: 40px;
  background-color: #006ef5;
  border-radius: 30px; }
