.Header__title {
  color: #006ef5;
  font-weight: 600;
  text-align: center;
  padding: 30px 30px; }

.HeaderThread__container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 30px 30px;
  border-bottom: 1px solid #989898; }

.HeaderThread__btn {
  background-color: #ffffff;
  border: 0px; }

.HeaderThread__btn:hover {
  background-color: #ffffff;
  border: 0px; }

.HeaderThread__arrow {
  font-size: 22px;
  color: #989898; }

.HeaderThread__arrow:hover {
  color: #006ef5; }

.HeaderThread__logo {
  color: #006ef5;
  font-weight: 600; }

.container--form-landing {
  margin-top: 70px; }

.form--style {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between; }

.form--group {
  padding: 0 20px 0 20px; }

.input--login-style {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding: 0; }

.btn--login {
  margin: 150px auto auto;
  width: 60px;
  border-radius: 35px;
  height: 60px;
  background-color: #006ef5; }

.icon--psw {
  position: absolute;
  top: 16px;
  right: 0;
  color: #ced4da; }

.main--landing {
  margin-top: 185px; }

@media (min-width: 1024px) {
  .container--text-login {
    margin-top: 130px; }
  .container--form-landing {
    margin-top: 130px; } }

@media (max-width: 375px) {
  .form--group {
    padding: 0; } }

.header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  top: 0; }
