@import "components/ElementList";
@import "layaout/WeHeader";
@import "components/WeHeaderThread";
@import 'components/WeForm';
@import 'pages/Landing';


body, #root{
   
}

.header{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
    top: 0; 
}

